 <nav class = "navbar navbar-default">
  <div class = "container">
      <div class = 'navbar-header'>
          <a routerLink = '/login' class = 'navbar-brand'>Screening App</a>
      </div>

        <div class = 'navbar-default'>
          <ul class = 'nav navbar-nav'>
              <li routerLinkActive = "active"><a routerLink = "/home">Home</a></li>
              <li routerLinkActive = "active"><a routerLink = "/displaystaff">Display Staff</a></li>
              <li routerLinkActive = "active"><a routerLink = "/addstaff">Add Staff</a></li>
          </ul>
        <div class = 'navbar-default'>   
          <ul class = 'nav navbar-nav navbar-right'>
            <li><a href = '#'>LogOut</a></li>
          </ul>
        </div>  
      </div>
  </div>
</nav>







