<div class="container">
    <a routerLink = "/addstaff">
      <button class = 'btn btn-primary pull-right'>
        Create Admission Staff
      </button>
    </a>
    <br>
    <br>
<hr>
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">First Name</th>
          <th scope="col">Last Name</th>
          <th scope="col">Email</th>
          <th scope="col">Status</th>
          <th scope="col">Change Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor = "let staff of staffs">
          <td>{{staff.firstName}}</td>
          <td>{{staff.lastName}}</td>
          <td>{{staff.email}}</td>
          <td>{{staff.isActive?'Active':'DeActive'}}</td>
          <td>
            <button class = 'btn btn-info' 
            (click)= "onButtonClicked(staff)"> {{staff.isActive?'Deactivate':'Activate'}}</button>

          </td>
        </tr>
      </tbody>
    </table>

</div>

