<div class="container">
  <form [formGroup]="questionForm" (ngSubmit)="onSubmit()">
      <fieldset class="uk-fieldset">
          <legend class="uk-legend">Category</legend>
          <div class="uk-margin">
              <input id="category" name="category" class="uk-input" type="text" formControlName="category">
              <div class="alert alert-danger" *ngIf="(control.category.touched || control.category.dirty) && control.category.errors">
                  <span class="helper-text">required *</span>
              </div>
          </div>
      </fieldset>
      <fieldset class="uk-fieldset">
          <legend class="uk-legend">Question</legend>
          <div class="uk-margin">
              <textarea id="question" name="question" class="uk-textarea" rows="5" formControlName="question" 
                placeholder="Type question ..." >
              </textarea>
              <div class="alert alert-danger" *ngIf="(control.question.touched || control.question.dirty) && control.question.errors">
                  <span class="helper-text">required *</span>
              </div>
          </div>
      </fieldset>
      <fieldset class="uk-fieldset">
          <div class="uk-margin">
              <legend class="uk-legend">Active</legend>
              <div class="uk-form-controls">
                  <select id="active" name="active" class="uk-select" formControlName="active">
                      <option value="true">Activated</option>
                      <option value="false">Disabled</option>
                  </select>
                  <div class="alert alert-danger" *ngIf="(control.active.touched || control.active.dirty) && control.active.errors">
                      <span class="helper-text">required *</span>
                  </div>
              </div>
          </div>
      </fieldset>
      <fieldset class="uk-fieldset submit">
          <div class="uk-margin">
              <button class="uk-button uk-button-secondary" [disabled]="!questionForm.valid">Send</button>
          </div>
      </fieldset>
  </form>
</div>
