<div class="row">
    <div class="col-md-2">
        Name:
    </div>
    <div class="col-md-4">
        {{result.firstName}} {{result.lastName}}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Email:
    </div>
    <div class="col-md-4">
        {{result.email}}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Entry:
    </div>
    <div class="col-md-4">
        {{result.entry}}
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Result:
    </div>
    <div class="col-md-4">
        <strong>{{result.result?'Pass':'Fail'}} </strong> 
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Invitation Status:
    </div>
    <div class="col-md-4">
        {{result.invitation.status}}
    </div>
</div>

<hr>
<div class = 'row'>
<div class = 'rightp'>
    <div class="col-md-12 btn-group">
        <button class="btn btn-lg btn-success" (click) = "onPass(result)">Pass</button>
        <button class="btn btn-lg btn-danger"  (click) = "onFail(result)"> Fail</button>
    </div>
</div>
</div>
<br>

<div class = "jumbotron">
        <h5 class="display-4">QUESTION 1</h5>
        <p class="display-4">{{result.questions[0].question}}</p>
        <p class="display-4">{{result.questions[0].answer}}</p>
    </div>

<div class = "jumbotron">
    <h5 class="display-4">QUESTION 2</h5>
    <p class="display-4">{{result.questions[1].question}}</p>
    <p class="display-4">{{result.questions[1].answer}}</p>
</div>

<div class = "jumbotron">
        <h5 class="display-4">QUESTION 3</h5>
    <p class="display-4">{{result.questions[2].question}}</p>
    <p class="display-4">{{result.questions[2].answer}}</p>
</div>    






