<!-- Footer -->
<footer class="footer bg-light">
  <div class="container" id = 'father'>
    <div class="row">
        <ul class="list-inline mb-2">
          <li class="list-inline-item">
            <a href="#">About</a>
          </li>
          <li class="list-inline-item">&sdot;</li>
          <li class="list-inline-item">
            <a href="#">Contact</a>
          </li>
        </ul>
      </div>
      <div class = 'row'>
        <p class="text-muted small mb-4 mb-lg-0">&copy; Group Two 2019. All Rights Reserved.</p>
      </div>
 </div> 
</footer>

